# Godot 4+ specific ignores
.godot/
/Android/
.nomedia

# Godot-specific ignores
.import/
export.cfg
export_credentials.cfg
*.tmp

# Build/Export outputs
/Builds/
/Exports/
*.exe
*.pck
*.zip

# C# / Mono specific ignores
.mono/
bin/
obj/
*.dll
!*.csproj
!*.sln

# AI Models & Large Assets & potentially copyrighted Assets
/Models/
/Music/
/Assets/Pokesprites/*
!/Assets/Pokesprites/0000.png